{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Annisya Rizkia Ifani</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'StylesUpdate.css' %}">
</head>

<body>

<!-- Header -->
<div class="header">
  <h1 style="text-align:center; font-family: Alef; font-size: 50px;z-index: 8;"><strong>
  annisya.</strong></h1>
  <p style="font-style: italic; font-size: 25px; z-index: 2;">Dont Let <b>Your Dreams</b> be Dreams.</p>
</div>

<!-- Navigation Bar -->
<div class="navbar">
  <a href="#aboutme">About me</a>
  <a href="schedule/">Schedule</a>
  <a href="#edu">Education</a>
  <a href="#com">Experience</a>
  <a href="#skill">Skills</a>
  <a href="#photo">Photos By Me</a>
  <a href="#contact">Contact Me</a>
</div>

<!-- The flexible grid (content) -->
<div class="row">
  <div class="main">
    <center>
      <div class="img1" style="left: 63%;top: 4%;">
        <img src="https://i.imgur.com/7rnKS4R.png" width="200" height="200">
      </div>
    </center>

    <h2 style="font-family: Abhaya Libre; font-size: 27px; text-align: center;">General Info</h2>
    <center>
        <p style="font-size: 18;">Date of Birth: Nov 25, 2000</p>
        <p>Address: Cirebon, Indonesia </p>
        <p>Email: rizkia.annisya@gmail.com</p>
        <p>Phone: 087829447471</p>
    </center>

    
    <h3 style="font-family: Abhaya Libre; font-size: 27px; text-align: center;"><strong>My Social Account</strong></h3>
    <center>
      <a href="https://twitter.com/annisyarzk"class="fa fa-twitter" target="_blank"></a>
      <a href="https://www.instagram.com/annisyarzk/?hl=en" class="fa fa-instagram" target="_blank"></a>
      <a href="https://id.pinterest.com/rizkiaannisya/" class="fa fa-pinterest" target="_blank"></a>
    </center><br><br><br>

    <section id= "aboutme">
    <center><br><br><br>
      <h2>About Me</h2>
      <div class="line2" style="top: 550px; left: 750px;width: 140px;"></div>
      <br>
      <p style="width: 95%;height: 32%;left: 39%;top: 64%; font-size: 20px; line-height: 35px;">I'm a Information Systems student, who loves coffee and travelling so much. I’m also optimistic person that always believe in my dream and really hard to break down. I’m a Website Developer who still learning how to make a good website and below is my experiences so far and also you can keep in touch with me on my social account.</p>
    </center>
    </section><br><br><br><br><br><br>
    
    <section id= "edu">
      <center>
        <h2>Education</h2>
        <div class="line2" style="width: 140px;"></div>
        <br><br><br>
      </center>
        <div class="timeline">
          <div class="container left">
            <div class="content">
              <h2 style="font-family: ABeeZee; font-style: italic; font-size: 25px;">2006-2012</h2>
              <p style="font-family: ABeeZee; font-size: 25px;">Al-Azhar Elementary School</p>
            </div>
          </div>

          <div class="container right">
            <div class="content">
              <h2 style="font-family: ABeeZee; font-style: italic; font-size: 25px;">2012-2015</h2>
              <p style="font-family: ABeeZee; font-size: 25px;">Al-Multazam Boarding School</p>
            </div>
          </div>

          <div class="container left">
            <div class="content">
              <h2 style="font-family: ABeeZee; font-style: italic; font-size: 25px;">2015-2018</h2>
              <p style="font-family: ABeeZee; font-size: 25px;">Senior High School 2 Cirebon</p>
            </div>
          </div>

          <div class="container right">
            <div class="content">
              <h2 style="font-family: ABeeZee; font-style: italic; font-size: 25px;">2018-Present</h2>
              <p style="font-family: ABeeZee; font-size: 25px;">University of Indonesia</p>
            </div>
          </div>
      </div>
    </section><br><br><br><br><br><br><br><br>

    <section id= "com">
      <center>
        <h2>Committe Experience</h2>
        <div class="line2" style="width: 240px;"></div>
        <br><br><br>
      </center>
        <div class="timeline">
          <div class="container left">
            <div class="content">
              <h2 style="font-family: ABeeZee; font-style: italic; font-size: 25px;">2016-2017</h2>
              <p style="font-family: ABeeZee; font-size: 25px;">Jurnalistic Secretary</p>
            </div>
          </div>

          <div class="container right">
            <div class="content">
              <h2 style="font-family: ABeeZee; font-style: italic; font-size: 25px;">2019</h2>
              <p style="font-family: ABeeZee; font-size: 25px;">Staff of BETIS 2019</p>
            </div>
          </div>

          <div class="container left">
            <div class="content">
              <h2 style="font-family: ABeeZee; font-style: italic; font-size: 25px;">2019</h2>
              <p style="font-family: ABeeZee; font-size: 25px;">Treasurer of UIGTC</p>
            </div>
          </div>

          <div class="container right">
            <div class="content">
              <h2 style="font-family: ABeeZee; font-style: italic; font-size: 25px;">2019</h2>
              <p style="font-family: ABeeZee; font-size: 25px;">Staff of BEM Fasilkom UI</p>
            </div>
          </div>

          <div class="container left">
            <div class="content">
              <h2 style="font-family: ABeeZee; font-style: italic; font-size: 25px;">2019</h2>
              <p style="font-family: ABeeZee; font-size: 25px;">Staff of FNB Compfest 11</p>
            </div>
          </div>
      </div>
    </section><br><br><br><br><br><br>

    <section id= "skill">
      <center>
        <h2>Extra Skills</h2>
          <div class="line2" style="width: 140px;"></div>
          <br><br><br>
      </center>
      <p style="font-family: ABeeZee; font-size: 23px;">Adobe Photoshop</p>
      <div class="skillscontainer">
        <div class="skillfont Photoshop">50%</div>
      </div>

      <p style="font-family: ABeeZee; font-size: 23px;">Movie Maker</p>
      <div class="skillscontainer">
        <div class="skillfont moviemaker">70%</div>
      </div>

      <p style="font-family: ABeeZee; font-size: 23px;">Swimming</p>
      <div class="skillscontainer">
        <div class="skillfont swim">80%</div>
      </div>

      <p style="font-family: ABeeZee; font-size: 23px;">HTML</p>
      <div class="skillscontainer">
        <div class="skillfont html">60%</div>
      </div>

      <p style="font-family: ABeeZee; font-size: 23px;">Public Speaking</p>
      <div class="skillscontainer">
        <div class="skillfont spoke">70%</div>
      </div>
    </section><br><br><br><br><br><br>

    
    <section id= "photo">
      <center>
        <h2>Photos By Me</h2>
          <div class="line2" style="width: 160px;"></div>
      </center><br><br><br>

      <center>
        <p style="font-family: ABeeZee; font-size: 23px;"> Makkah-Madinah, 2016</p>
        <img src="https://i.imgur.com/a8zUBLE.jpg" style="width:70%">
        <br><br>
        <p style="font-family: ABeeZee; font-size: 23px;"> South Korea, 2017</p>
        <img src="https://i.imgur.com/GIBWpvy.jpg" style="width:70%">
        <br><br>
        <p style="font-family: ABeeZee; font-size: 23px;"> Europe, 2018</p>
        <img src="https://i.imgur.com/DwjoH0p.jpg" style="width:70%">
        <br><br>
      </center>
      <div class="more">
          <a href="/gallery/" class="btn btn-outline-dark" role="button" style="z-index: 2;">See More</a>
      </div>

    </section><br><br><br><br><br><br>
    
    <section id= "contact">
      <center>
            <h2>Contact Me</h2>
              <div class="line2" style="top: 1750px; left: 750px;width: 140px;"></div>
        </center><br><br><br>
      <div class="containerContact">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">

          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">

          <label for="subject">Subject</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

          <input type="submit" value="Submit">
        </form>
      </div>  
    </section>

    <div class="slideshowFooter-container">
      <div class="mySlides1">
        <q style="font-family: ABeeZee; font-style: italic; font-size: 25px;">Life is not always a matter of holding good cards, but sometimes, playing a poor hand well.</q><br>
        <p class="author" style="font-family: ABeeZee; font-size: 25px;">- Jack London</p>
      </div>

      <div class="mySlides1">
        <q style="font-family: ABeeZee; font-style: italic; font-size: 25px;">Work like you don't need the money, love like you've never been hurt and dance like no one is watching.</q><br>
        <p class="author" style="font-family: ABeeZee; font-size: 25px;">- Randall G Leighton</p>
      </div>

      <div class="mySlides1">
        <q style="font-family: ABeeZee; font-style: italic; font-size: 25px;">Believe in your heart that you're meant to live a life full of passion, purpose, magic and miracles.</q><br>
        <p class="author" style="font-family: ABeeZee; font-size: 25px;">- Roy T. Bennett</p>
      </div>
    </div>

    <div class="dot-container">
      <span class="dot1" onclick="currentSlide(1)"></span> 
      <span class="dot1" onclick="currentSlide(2)"></span> 
      <span class="dot1" onclick="currentSlide(3)"></span> 
    </div>
    <script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
      showSlides(slideIndex += n);
    }

    function currentSlide(n) {
      showSlides(slideIndex = n);
    }

    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides1");
      var dots = document.getElementsByClassName("dot1");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
    </script>

  </div>
</div>


</body>
</html>
